.inst-img {
  height: 13.889vw;
  width: 13.889vw;
  border-radius: 4.167vw;
  background: radial-gradient(circle at 30% 107%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.isquare {
  width: 9.722vw;
  height: 9.722vw;
  background-color: transparent;
  border: 0.833vw solid #fff;
  border-radius: 3.125vw;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle-big {
  height: 4.167vw;
  width: 4.167vw;
  background-color: transparent;
  border: 0.833vw solid #fff;
  border-radius: 50%;
}

.circle-small {
  height: 1.042vw;
  width: 1.042vw;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 1.042vw;
  right: 1.042vw;
}