.watermelon {
  background-color: #ffff52;
}

.watermelon-img {
  width: 22.222vw;
  height: 11.111vw;
  background-color: #fd6c64;
  border-left: 1.389vw solid #5af5b6;
  border-bottom: 1.389vw solid #5af5b6;
  border-right: 1.389vw solid #5af5b6;
  border-bottom-left-radius: 13.889vw;
  border-bottom-right-radius: 13.889vw;
  text-align: center;
}

.seeds {
  width: 0.694vw;
  height: 0.694vw;
  background-color: #262626;
  border-radius: 50%;
  display: inline-block;
  margin: 1.181vw;
}

.seeds:nth-child(7),
.seeds:nth-child(12),
.seeds:nth-child(13),
.seeds:nth-child(16) {
  opacity: 0;
}
