.batman {
  background: #696969;
}

.oval {
  width: 15.972vw;
  height: 9.028vw;
  background-color: #fdff00;
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.logo {
  position: absolute;
  width: 14.722vw;
  height: 7.778vw;
  background-color: #000;
  border-radius: 50%;
}

.o1 {
  position: absolute;
  background-color: #fdff00;;
  width: 2.292vw;
  height: 4.861vw;
  border-radius: 50%;
  top: 4.653vw;
  left: 3.056vw;
  transform: rotate(-41deg);
}

.o2 {
  position: absolute;
  background-color: #fdff00;;
  width: 2.292vw;
  height: 4.861vw;
  border-radius: 50%;
  top: 4.653vw;
  right: 3.056vw;
  transform: rotate(41deg);
}

.o3 {
  position: absolute;
  background-color: #fdff00;;
  width: 2.639vw;
  height: 4.861vw;
  border-radius: 50%;
  top: 5.069vw;
  left: 4.722vw;
  transform: rotate(-15deg);
}

.o4 {
  position: absolute;
  background-color: #fdff00;;
  width: 2.639vw;
  height: 4.861vw;
  border-radius: 50%;
  top: 5.069vw;
  right: 4.722vw;
  transform: rotate(15deg);
}

.o5 {
  position: absolute;
  background-color: #fdff00;;
  width: 2.569vw;
  height: 2.778vw;
  border-radius: 50%;
  top: 0;
  left: 3.958vw;
}

.sq1 {
  position: absolute;
  background-color: #fdff00;;
  width: 1.389vw;
  height: 1.389vw;
  top: 0;
  left: 5.139vw;
}

.o6 {
  position: absolute;
  background-color: #fdff00;;
  width: 2.569vw;
  height: 2.778vw;
  border-radius: 50%;
  top: 0;
  right: 3.958vw;
}

.sq2 {
  position: absolute;
  background-color: #fdff00;
  width: 1.389vw;
  height: 1.389vw;
  top: 0;
  right: 5.139vw;
}

.ears {
  position: absolute;
  top: 0;
  left: 6.597vw;
  border-bottom: 0.833vw solid #fdff00;
  border-right: 0.417vw solid #000;
  border-left: 0.417vw solid #000;
  width: 1.528vw;
  transform: rotate(180deg);
}