.gear-img {
  width: 7.639vw;
  height: 7.639vw;
  background-color: #5dc59d;
  border-radius: 50%;
  position: relative;
}

.gear-inner {
  width: 3.819vw;
  height: 3.819vw;
  background-color: rgb(254,215,219);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bar {
  width: 11.806vw;
  height: 2.778vw;
  background-color: #5dc59d;
  border-radius: 0.486vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bar:nth-child(2) {
  transform: translate(-50%, -50%) rotate(60deg);
}

.bar:nth-child(3) {
  transform: translate(-50%, -50%) rotate(-60deg);
}