.pepsi {
  background: linear-gradient(180deg, rgba(254,215,219,0.1) 0%, rgba(180,255,252,1) 50%, rgba(254,215,219,0.1) 100%);
  width: 100vw;
  height: 31.250vw;
}
.pepsi-img {
  height: 20.833vw;
  width: 20.833vw;
  background-color: #34588e;
  border-radius: 50%;
  border: 0.694vw solid #fff;
  position: relative;
  overflow: hidden;
}

.pepsi-img::before {
  content: '';
  position: absolute;
  height: 27.778vw;
  width: 34.722vw;
  border-radius: 25%;
  background-color: #fff;
  top: -11.111vw;
  left: -18.056vw;
  transform: rotate(-18deg);
}

.pepsi-img::after {
  position: absolute;
  content: '';
  height: 34.722vw;
  width: 38.194vw;
  border-radius: 50%;
  background-color: #da473c;
  top: -19.097vw;
  left: -22.222vw;
}