.git-img {
  width: 10.417vw;
  height: 10.417vw;
  background-color: #f05033;
  border-radius: 1.042vw;
  position: relative;
  transform: rotate(45deg);
}

.line1 {
  width: 7.639vw;
  height: 0.833vw;
  background-color: #fff;
  position: absolute;
  top: 2.778vw;
}

.line1::before {
  content: '';
  width: 2.083vw;
  height: 2.083vw;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  left: 2.083vw;
  top: -0.556vw;
}

.line1::after {
  content: '';
  width: 2.083vw;
  height: 2.083vw;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  left: 6.250vw;
  top: -0.556vw;
}

.line2 {
  width: 6.250vw;
  height: 0.833vw;
  background-color: #fff;
  position: absolute;
  top: 4.861vw;
  left: 2.083vw;
  transform: rotate(45deg);
}

.line2::before {
  content: '';
  width: 2.083vw;
  height: 2.083vw;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  left: 4.861vw;
  top: -0.556vw;
}