.shelf {
  background-color: #ecd590;
  width: 600px;
  height: 500px;
}

.shelf-img {
  width: 520px;
  height: 20px;
  background-color: #5a3f21;
  position: relative;
}

.clock {
  width: 110px;
  height: 110px;
  background-color: #e9e6c9;
  border: 10px solid #5aa668;
  border-radius: 50%;
  position: absolute;
  left: 30px;
  top: -590%;
}

.knot {
  width: 10px;
  height: 10px;
  background-color: #9d374f;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
}

.hand {
  width: 4px;
  height: 40px;
  background-color: #47321a;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -100%);
  transform-origin: bottom;
}

.hour-hand {
  height: 30px;
  transform: translate(-50%, -100%) rotate(45deg);
}

.min-hand {
  height: 35px;
  width: 3px;
  transform: translate(-50%, -100%) rotate(160deg);
}

.sec-hand {
  height: 42px;
  width: 2px;
  transform: translate(-50%, -100%) rotate(-40deg);
}

.clock-ear-left {
  height: 30px;
  width: 60px;
  background-color: #5aa668;
  position: absolute;
  left: -38px;
  top: -20%;
  border-radius: 90px 90px 0 0;
  transform: rotate(-50deg);
}

.clock-ear-left::after {
  content: '';
  height: 8px;
  width: 15px;
  background-color: #9d374f;
  position: absolute;
  left: 20px;
  top: -5px;
  border-radius: 90px 90px 0 0;
}

.clock-ear-right {
  height: 30px;
  width: 60px;
  background-color: #5aa668;
  position: absolute;
  right: -38px;
  top: -20%;
  border-radius: 90px 90px 0 0;
  transform: rotate(50deg);
}

.clock-ear-right::after {
  content: '';
  height: 8px;
  width: 15px;
  background-color: #9d374f;
  position: absolute;
  right: 20px;
  top: -5px;
  border-radius: 90px 90px 0 0;
}

.clock-foot-left {
  height: 30px;
  width: 10px;
  background-color: #5a3f21;
  position: absolute;
  left: -3px;
  bottom: -24px;
  transform: rotate(30deg);
}

.clock-foot-right {
  height: 30px;
  width: 10px;
  background-color: #5a3f21;
  position: absolute;
  right: -3px;
  bottom: -24px;
  transform: rotate(-30deg);
}

.book-1 {
  width: 40px;
  height: 170px;
  position: absolute;
  background-color: #9d374f;
  left: 210px;
  top:-170px;
}

.book-1::before,
.book-2::before,
.book-3::before {
  content: '';
  width: 100%;
  height: 20px;
  position: absolute;
  background-color: #e9e6c9;
  left: 0;
  top: 20px;
}

.book-1::after,
.book-2::after,
.book-3::after {
  content: '';
  width: 50%;
  height: 100%;
  position: absolute;
  background-color: #000;
  opacity: .15;
  right: 0;
  top: 0;
}

.book-2 {
  width: 40px;
  height: 195px;
  position: absolute;
  background-color: #e86830;
  left: 250px;
  top: -195px;
}

.book-3 {
  width: 40px;
  height: 180px;
  position: absolute;
  background-color: #5aa668;
  left: 290px;
  top: -180px;
}

.cactus {
  width: 100px;
  height: 180px;
  position: absolute;
  left: 380px;
  top: -180px;
}

.pot {
  width: 100%;
  height: 50%;
  position: absolute;
  bottom: 0;
  background-color: blue;
}

.pot-bottom {
  width: 100%;
  height: 70%;
  background-color: #ce4f17;
  position: absolute;
  bottom: 0;
}

.pot-top {
  width: 140%;
  height: 30%;
  background-color: #a03d12;
  position: absolute;
  top: 0;
  left: -20%;
}

.plant-left {
  width: 45%;
  height: 35%;
  background-color: #5aa668;
  position: absolute;
  bottom: 50%;
  left: 5%;
  border-radius: 50px 50px 0 0;
}

.plant-right {
  width: 45%;
  height: 50%;
  background-color: #5aa668;
  position: absolute;
  bottom: 50%;
  right: 5%;
  border-radius: 50px 50px 0 0;
}