.captain {
  background-color: #7292f7;
}

.c3 {
  width: 18.056vw;
  height: 18.056vw;
  background-color: #ff4040;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: 5s infinite running captain-1;
}

.c2 {
  width: 14.583vw;
  height: 14.583vw;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: 4s infinite running captain-2;
}

.c1 {
  width: 10.417vw;
  height: 10.417vw;
  background-color: #ff4040;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: 3s 3s infinite running captain-1;  
}

.center {
  width: 6.944vw;
  height: 6.944vw;
  background-color: #306fd4;
  border-radius: 50%;
  position: relative;
}

.arrow {
  position: absolute;
  border-top: 2.431vw solid #fff;
  border-left: 3.333vw solid transparent;
  border-right: 3.333vw solid transparent;
  border-bottom: 3.333vw solid transparent;
  width: 0;
  height: 0;
}

.top {
  top: 2.431vw;
  left: 0.139vw;
}

.left {
  top: 1.111vw;
  left: -1.667vw;
  transform: rotate(72deg);
}

.right {
  top: 1.111vw;
  left: 1.667vw;
  transform: rotate(-72deg);
}

@keyframes captain-1 {
  100% {
    background-color: #fff;
  }
}

@keyframes captain-2 {
  100% {
    background-color: #ff4040;
  }
}