.homer {
  background-color: #fe605c;
  height: 500px;
  width: 350px;
  border: 20px solid #fff;
}

.head {
  position: relative;
  width: 215px;
  height: 405px;
}

.forehead {
  position: absolute;
  width: 170px;
  height: 200px;
  background-color: #fed90f;
  border: 1px solid #000;
  top: 10px;
  border-radius: 60%/50%;
  transform: rotate(-18deg);
}

.hair1 {
  position: absolute;
  width: 80px;
  height: 70px;
  border-top: 2px solid #000;
  top: 15px;
  border-radius: 50%;
  transform: rotate(-40deg);
}

.hair2 {
  position: absolute;
  width: 80px;
  height: 70px;
  border-top: 2px solid #000;
  left: 10px;
  border-radius: 50%;
  transform: rotate(-30deg);
}

.r-eye {
  position: absolute;
  width: 75px;
  height: 75px;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 50%;
  left: 120px;
  top: 110px;
}

.pupil-right {
  position: absolute;
  width: 9px;
  height: 9px;
  background-color: #000;
  border-radius: 50%;
  left: 35px;
  top: 40px;
}

.l-eye {
  position: absolute;
  width: 75px;
  height: 75px;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 50%;
  left: 60px;
  top: 115px;
}

.pupil-left {
  position: absolute;
  width: 9px;
  height: 9px;
  background-color: #000;
  border-radius: 50%;
  left: 25px;
  top: 40px;
}

.f-side1 {
  position: absolute;
  width: 140px;
  height: 60px;
  background-color: #fed90f;
  top: 180px;
  left: 30px;
}

.f-side2 {
  position: absolute;
  width: 40px;
  height: 60px;
  background-color: #fed90f;
  top: 165px;
  left: 22px;
  transform: rotate(-11deg);
  border-left: 1px solid #000;
}

.hnose {
  position: absolute;
  width: 60px;
  height: 32px;
  background-color: #fed90f;
  top: 172px;
  left: 129px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
}

.hmouth {
  position: absolute;
  width: 115px;
  height: 120px;
  background-color: #d18271;
  top: 204px;
  left: 68px;
  border-radius: 50%;
  border: 1px solid #000;
}

.mouth-part1 {
  position: absolute;
  width: 20px;
  height: 30px;
  background-color: #d18271;
  top: 62px;
  left: 98px;
  border-radius: 50%;
  border-right: 1px solid #000;
  transform: rotate(15deg);
}

.mouth-part2 {
  position: absolute;
  width: 115px;
  height: 60px;
  background-color: #d18271;
  top: 24px;
  left: 28px;
  border-radius: 60%;
  border-bottom: 1px solid #000;
  transform: rotate(-6deg);
}

.mouth-part3 {
  position: absolute;
  width: 38px;
  height: 45px;
  background-color: #d18271;
  top: 230px;
  left: 164px;
  border-radius: 10%;
  border-top: 1px solid #000;
  transform: rotate(40deg);
}

.mouth-part4 {
  position: absolute;
  width: 60px;
  height: 26px;
  background-color: #d18271;
  top: 204px;
  left: 129px;
  border-right: 1px solid #000;
  border-top-right-radius: 70%;
}

.mouth-part5 {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: #d18271;
  top: 260px;
  left: 80px;
}

.neck {
  position: absolute;
  width: 119px;
  height: 117px;
  background-color: #fed90f;
  top: 230px;
  left: 26px;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  transform: rotate(2deg);
}

.collar-left {
  position: absolute;
  width: 110px;
  height: 60px;
  background-color: #fff;
  top: 330px;
  left: 10px;
  transform: rotate(15deg);
  border-radius: 10%;
  border: 1px solid #000;
}

.collar-right {
  position: absolute;
  width: 20px;
  height: 50px;
  background-color: #fff;
  top: 340px;
  left: 140px;
  transform: rotate(-20deg);
  border-radius: 10%;
  border: 1px solid #000;
}

.h-ear {
  position: absolute;
  width: 32px;
  height: 37px;
  background-color: #fed90f;
  top: 188px;
  left: 10px;
  border: 1px solid #000;
  border-radius: 50%;
  transform: rotate(10deg);
}

.h-ear1{
  position: absolute;
  width: 15px;
  height: 15px;
  top: 8px;
  left: 8px;
  border-left: 1px solid #000;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}

.h-ear2{
  position: absolute;
  width: 8px;
  height: 8px;
  top: -3px;
  border-bottom: 1px solid #000;
  border-bottom-left-radius: 10%;
}
