.wrap {
  width: 10.417vw;
  height: 10.417vw;
  position: relative;
}

.gtop {
  position: absolute;
  width: 10.417vw;
  height: 10.417vw;
  border-top: 2.083vw solid #e33e2b;
  border-right: 2.083vw solid transparent;
  border-bottom: 2.083vw solid #2ba14b;
  border-left: 2.083vw solid #f1b500;
  border-radius: 50%;
  z-index: 2;
}

.half {
  width: 10.417vw;
  height: 10.417vw;
  position: absolute;
  border: 2.083vw solid transparent;
  border-right: 2.083vw solid #3a7cec;
  transform: rotate(45deg);
  border-radius: 50%;
  z-index: 1;
}

.line {
  width: 5.556vw;
  height: 2.083vw;
  background-color: #3a7cec;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  border-bottom-right-radius: 1.042vw;
}