@font-face {
  font-family: "Archistico_Bold";
  src: url("./fonts/Archistico_Bold.ttf");
}

@font-face {
  font-family: "BRUSHSTP";
  src: url("./fonts/AlexBrush-Regular.ttf");
}

* {
  box-sizing: border-box;
}

html {
  font-family: "Archistico_Bold", "BRUSHSTP", Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.App {
  overflow-x: hidden;
  background-color: rgba(254,215,219,0.5);
}

.header {
  background-color: #fff;
}

h1 {
  font-family: "Archistico_Bold";
  font-size: 6.25vw;
}

h2 {
  font-family: "BRUSHSTP";
  color: #a089a0;
  font-size: 2.778vw;
}

.main-content-line,
.block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.main-content-line {
  height: 41.7vw;
}

.grid-square {
  width: 27.778vw;
  height: 27.778vw;
  border-radius: 10%;
}

@media (max-width: 426px) {
  .header {
    flex-direction: column;
  }
  h1 {
    font-size: 7.5vw;
  }
  h2 {
    margin: 0;
    font-size: 6.5vw;
  }
}