.donut {
  background-color: #fddb10;
}

.donut-img {
  position: relative;
  width: 13.889vw;
  height: 13.889vw;
}

.donut-body {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #f77778;
  border: 0.139vw solid #003459;
  border-radius: 50%;
}

.donut-body::before {
  content: '';
  position: absolute;
  width: 93%;
  height: 93%;
  background-color: #faa7a8;
  top: 0.208vw;
  right: 0.208vw;
  border-radius: 50%;
}

.donut-body::after {
  content: '';
  position: absolute;
  width: 30%;
  height: 30%;
  background-color: #fddb10;
  border-radius: 50%;
  border: 0.139vw solid #003459;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.face {
  width: 2.222vw;
  height: 1.111vw;
  position: absolute;
  border: 0.208vw solid #003459;
  border-top: 0;
  border-bottom-left-radius: 6.944vw;
  border-bottom-right-radius: 6.944vw;
  top: 3.056vw;
  left: 5.833vw;
}

.face::before {
  content: '';
  width: 0.278vw;
  height: 0.764vw;
  background-color: #003459;
  border-radius: 50%;
  position: absolute;
  top: -1.250vw;
  left: 0.347vw;
  box-shadow: 0.833vw 0 #003459;
}

.highlight {
  width: 2.778vw;
  height: 2.778vw;
  border: 0.486vw solid #fff;
  border-top: 0;
  border-right: 0;
  position: absolute;
  left: 3.611vw;
  top: 7.292vw;
  border-radius: 0.208vw;
  border-bottom-left-radius: 3.472vw;
  opacity: .4;
}