.figma-img {
  width: 12.500vw;
  height: 18.750vw;
  display: flex;
  flex-wrap: wrap;
}

.part {
  width: 6.250vw;
  height: 6.250vw;
}

.part-1 {
  background-color: #ee4e2a;
  border-radius: 50% 0 0 50%;
}

.part-2 {
  background-color: #fb7266;
  border-radius: 0 50% 50% 0;
}

.part-3 {
  background-color: #a061fa;
  border-radius: 50% 0 0 50%;
}

.part-4 {
  background-color: #2ebdfa;
  border-radius: 50%;
}

.part-5 {
  background-color: #00ce84;
  border-radius: 50% 0 50% 50%;
}